# Unit 2 – Python Fundamentals: Syntax, Variables & Types

**Purpose:** Build the core language foundation.

This notebook is designed for complete beginners.  
Work through the sections in order. Execute code cells and complete the exercises.

---

## Learning goals

By the end of this unit, you should be able to:

- Understand Python syntax rules and indentation
- Create variables with good naming conventions
- Use basic data types: `int`, `float`, `str`, `bool`
- Convert between types intentionally
- Use operators (arithmetic, comparison, logical)
- Use basic input/output with `input()` and `print()`
- Recognize common beginner errors and apply debugging basics

## 1) Python syntax and indentation

Python uses **indentation** (leading spaces) to define blocks.

Common rule: use **4 spaces** per indentation level.

In [14]:
# Correct indentation example
x = 10

if x > 5:
    print("x is greater than 5")
    print("This line is still inside the if-block")

print("This line is outside the if-block")

x is greater than 5
This line is still inside the if-block
This line is outside the if-block

In [ ]:
print("Hello World")

print("Bitte Kome hier")

Hello World
Bitte Kome hier

:

### Typical indentation error

If you forget indentation after a colon `:`, Python raises `IndentationError`.

**Do not run the next cell** (it will raise an error). Read it and understand it.

In [ ]:
# DO NOT RUN (example of an indentation error)

# x = 10
# if x > 5:
# print("x is greater than 5")  # IndentationError

## 2) Variables and naming conventions

A variable is a **name** that refers to a **value**.

**Best practices**
- Use descriptive names: `total_price` instead of `tp`
- Use `snake_case` for variables and functions
- Avoid Python keywords (e.g., `if`, `for`, `class`)
- Use uppercase names by convention for constants: `MAX_RETRIES = 3`

In [ ]:
name = "Hussam"     # String
age = 30            # Integer
pi = 3.14159        # Float
is_admin = False    # Boolean

age = age + 1      # Reassignment
print(name, age, pi, is_admin)

Hussam 31 3.14159 False

## 3) Built-in data types

Core types for this unit:
- `int` (integers)
- `float` (decimal numbers)
- `str` (text)
- `bool` (True/False)

You can check a value's type with `type()`.

In [6]:
x = 42
y = 3.14
z = "Python"
b = True

print(type(x))
print(type(y))
print(type(z))
print(type(b))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### Strings basics

Strings can be combined with `+`, measured with `len()`, and formatted using f-strings.

In [17]:
first_name = "Ben"
last_name = "Lovelace"

full_name = first_name + " " + last_name
print(full_name)
print("Length:", len(full_name))

age = 36
print(full_name + " was " + str(age) + " years old.")

Ben Lovelace
Length: 12
Ben Lovelace was 36 years old.

### Booleans and comparisons

Comparisons evaluate to `True` or `False`.

In [ ]:
x = 10
print(x > 5)            # True
print(x < 5)            # False
print(x >= 10)          # True
print(x <= 10)          # True
print(5.0 == '5')       # True
print(x != 5)           # True

True
False
True
True
False
True

## 4) Type conversion (casting)

Important: `input()` always returns a **string** (`str`).

To compute with user input, convert it using:
- `int(...)`
- `float(...)`

In [29]:
age_str = "30"
age_int = int(age_str)

pi_str = "3.14"
pi_float = float(pi_str)

print(age_int + 1)
print(pi_float * 2)

31
6.28

### Common beginner mistake: adding a number to a string

This causes a `TypeError`.

**Do not run the next cell.**

In [21]:
int_string="5"
int_string=int(int_string)

pi_string="3.14"
pi_string=float(pi_string)

print (int_string)
print(pi_string)

5
3.14

In [ ]:
# DO NOT RUN (TypeError example)

# age = input("Age: ")
# print(age + 1)  # TypeError: can only concatenate str (not "int") to str

## 5) Operators

### Arithmetic operators
- `+` Addition, `-` Subtraction, `*` Multiplication
- `/` division (returns `float`)
- `//` integer division
- `%` modulo (remainder)
- `**` exponentiation

In [ ]:
print(10 / 4)    # 2.5
print(10 // 4)   # 2
print(10 % 4)    # 2
print(2 ** 3)    # 8

In [22]:
print(10/4)
print(10//4)
print(10 % 4)
print(2**3)

2.5
2
2
8

### Comparison operators
- `==` equal, `!=` not equal
- `<`, `<=`, `>`, `>=`
- Returns a boolean

### Logical operators
- `and` both conditions must be satisfied
- `or` one condition must be at least satisfied
- `not` negates a condition

In [31]:
age = 20
has_ticket = True

can_enter = (age >= 18) and has_ticket
print("can_enter:", can_enter)

print((age < 18) or has_ticket)
print(not has_ticket)

can_enter: True
True
False

## 6) Basic input/output: `input()` and `print()`

In notebooks, interactive `input()` works, but depending on the environment it may behave differently.  
If `input()` does not work in your notebook environment, you can **set variables manually** for practice.

Below: an example you *can run* if input works.

In [ ]:
# Try this cell. If input() is not supported in your environment, set name/age manually below.
try:
    name = input("What is your name? ")
    age = int(input("How old are you? "))
    print(f"Hello {name}! Next year you'll be {age + 1}.")
except Exception as e:
    print("Input not available or invalid input:", e)
    # Fallback example
    name = "Sample"
    age = 20
    print(f"Hello {name}! Next year you'll be {age + 1}.")

Hello a! Next year you'll be 8.

## 7) Common beginner errors & debugging basics

Common errors:
- `SyntaxError`: invalid syntax
- `IndentationError`: indentation is wrong
- `NameError`: variable not defined
- `TypeError`: wrong type combination (e.g., `"3" + 1`)
- `ValueError`: conversion failed (e.g., `int("abc")`)

### Debugging basics
- Read the traceback **from bottom to top**
- Look for the **line number**
- Print intermediate values and types (temporary "debug prints")

In [ ]:
# Debug print example
x = "123"
print("DEBUG:", x, type(x))

n = int(x)
print("DEBUG:", n, type(n))

---

# Practice (Exercises)

Complete the following exercises. Put your solutions in the provided cells.

## Exercise 1 — Mini calculator

Write a program that reads two numbers and prints:
- sum
- difference
- product
- division

**Bonus:** also print integer division and modulo.

If input is not available, set `a` and `b` manually.

In [ ]:
# Exercise 1 solution cell

# Option A: interactive
try:
    a = float(input("Enter first number: "))
    b = float(input("Enter second number: "))
except Exception:
    # Option B: manual fallback
    a = 10.0
    b = 4.0

print("a =", a, "b =", b)
print("sum:", a + b)
print("difference:", a - b)
print("product:", a * b)
print("division:", a / b)

# Bonus (note: integer division/modulo are most meaningful for integers)
ai = int(a)
bi = int(b) if int(b) != 0 else 1
print("integer division:", ai // bi)
print("modulo:", ai % bi)

a = 10.0 b = 4.0
sum: 14.0
difference: 6.0
product: 40.0
division: 2.5
integer division: 2.0
integer division: 2
modulo: 2

## Exercise 2 — String manipulation

Read a full name and print:
- the name in uppercase
- the length of the name
- the initials (first letter of first and last name)

Assume the user types something like `"Ada Lovelace"`.

If input is not available, set `full_name` manually.

In [ ]:
# Exercise 2 solution cell

try:
    full_name = input("Enter your full name (e.g., Ada Lovelace): ").strip()
except Exception:
    full_name = "Ada Lovelace"

print("UPPER:", full_name.upper())
print("LOWER:", full_name.lower())

print("Length:", len(full_name))

parts = full_name.split()
if len(parts) >= 2:
    initials = parts[0][0].upper() + parts[-1][0].upper()
else:
    initials = parts[0][0].upper()
print("Initials:", initials)

UPPER: ADAM SMITH
LOWER: adam smith
Length: 10
Initials: AS

## Exercise 3 — Basic input validation

Ask the user for an age. If the input cannot be converted to an integer, print a friendly error message.

Use `try/except ValueError`.

If input is not available, test the logic by setting `age_str` manually.

In [ ]:
# Exercise 3 solution cell

try:
    age_str = input("Enter your age (integer): ").strip()
except Exception:
    # manual tests (try changing this to "abc" to test)
    age_str = "abc"

try:
    age = int(age_str)
    print(f"Age accepted: {age}")
except ValueError:
    print("Please enter a whole number (e.g., 18). You entered:", age_str)